button{

}
.biru {
	background: #00237d;
}

.textBiru {
	color: #00237d;
}

.bulat {
	border-radius: 100%;
}

.kelabu {
	background: #f5f5f5;
}

div{

}

.biruMuda {
	background: #e0f5f8;
}